body{
  font-family: Arial, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0%, 20%);
  text-align: center;
  font-size: 2rem;
}

label{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 60px;
  height: 30px;
  border: 3px solid hsl(0, 0%, 20%);
  border-radius: 5px;
  padding: 5px;
}