body{
    background-color: rgb(109, 107, 107);
}

.to-do-list{
    font-family:  Arial,sans-serif;
    text-align: center;
    margin-top: 100px;
}
h2{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    background-color: hsl(125, 47%, 54%);
    margin-left: 10px;
}
.add-button:hover{
    background-color: hsl(125, 82%, 19%);
}
.delete-button{
    background-color: hsl(0, 76%, 56%);
}
.delete-button:hover{
    background-color: hsl(0, 70%, 21%);
}
.move-button{
    background-color: hsl(228, 74%, 39%);
}
.move-button:hover{
    background-color: hsl(229, 79%, 21%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(216, 40%, 58%, 0.5);
    border-radius: 10px;
    color: hsla(0, 0%, 0%, 0.5);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 75%, 36%, 0.75);
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding:8px 12px;
    font-size: 1.3 rem;
    margin-left: 10px;
}